@use "../../../styles/modules/breakpoints/mixins" as *;
@use "../../../styles/modules/breakpoints/variables" as *;

.encoreSmall {
  --primary-nav-modal-encore-max-width-mobile: 324px;

  max-width: var(--primary-nav-modal-encore-max-width-mobile);
  width: 100%;
  margin: 0 auto;
}

.loginFormIFrame {
  --primary-nav-modal-encore-login-form-iframe-height: 560px;
  --primary-nav-modal-encore-login-form-iframe-max-width-desktop: 600px;

  width: 100%;
  border: 0;
  overflow: hidden;
  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
  max-width: var(--primary-nav-modal-encore-login-form-iframe-max-width-mobile);

  @include breakpoint($breakpoint-lg-min) {
    max-width: var(--primary-nav-modal-encore-login-form-iframe-max-width-desktop);
  }
}

.encoreAdvert {
  --primary-nav-modal-encore-advert-margin-mobile: 24px;
  --primary-nav-modal-encore-advert-margin-top-mobile: 80px;
  --primary-nav-modal-encore-advert-margin-desktop: 117px 0 0 80px;
  --primary-nav-modal-encore-advert-background:
    radial-gradient(
      85.86% 119.87% at 79.63% 18.68%,
      #60667e 0%,
      #60667e 18.23%,
      rgba(96, 102, 126, 0) 100%
    ),
    #313649;

  margin: var(--primary-nav-modal-encore-advert-margin-mobile);
  margin-top: var(--primary-nav-modal-encore-advert-margin-top-mobile);
  background: var(--primary-nav-modal-encore-advert-background);

  @include breakpoint($breakpoint-lg-min) {
    margin: var(--primary-nav-modal-encore-advert-margin-desktop);
    display: grid;
    grid-template-columns: 55% 45%;
  }

  &Title {
    color: var(--ld-color-legacy-lexus-brand-white);
  }

  &TextContainer {
    --primary-nav-modal-encore-advert-text-container-max-width-desktop: 400px;

    @include breakpoint($breakpoint-lg-min) {
      max-width: var(--primary-nav-modal-encore-advert-text-container-max-width-desktop);
    }
  }

  &ImageContainer {
    --primary-nav-modal-encore-advert-image-container-offset: 24px;
    --primary-nav-modal-encore-advert-image-container-margin-desktop: 0 16px;

    position: relative;
    margin-top: var(--primary-nav-modal-encore-advert-image-container-offset);
    grid-row: 1 / 3;
    grid-column: 2;

    @include breakpoint($breakpoint-lg-min) {
      margin: var(--primary-nav-modal-encore-advert-image-container-margin-desktop);
    }

    img {
      max-width: 100%;

      @include breakpoint($breakpoint-lg-min) {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  &AppIconContainer {
    --primary-nav-modal-encore-advert-app-icon-container-margin-top: 16px;
    --primary-nav-modal-encore-advert-app-icon-container-width: 264px;

    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--primary-nav-modal-encore-advert-app-icon-container-width);
    margin-top: var(--primary-nav-modal-encore-advert-app-icon-container-margin-top);

    @include breakpoint($breakpoint-lg-min) {
      width: var(--primary-nav-modal-encore-advert-app-icon-container-width);
      max-width: auto;
    }
  }

  &AppIcon {
    --primary-nav-modal-encore-advert-app-icon-spacing: 8px;

    & + & {
      margin-left: var(--primary-nav-modal-encore-advert-app-icon-spacing);
    }

    img {
      width: 100%;
    }
  }

  &CtaContainer {
    --primary-nav-modal-encore-advert-cta-container-margin-top-mobile: 24px;
    --primary-nav-modal-encore-advert-cta-container-margin-top-desktop: 40px;
    --primary-nav-modal-encore-advert-cta-container-width: 264px;

    margin-top: var(--primary-nav-modal-encore-advert-cta-container-margin-top-mobile);

    @include breakpoint($breakpoint-lg-min) {
      width: var(--primary-nav-modal-encore-advert-cta-container-width);
      margin-top: var(--primary-nav-modal-encore-advert-cta-container-margin-top-desktop);
    }
  }

  &Cta {
    width: 100%;
  }
}
