/* stylelint-disable csstools/value-no-unknown-custom-properties */
@use "../../styles/modules/breakpoints/mixins" as *;
@use "../../styles/modules/breakpoints/variables" as *;
@use "../../styles/modules/css-resets/mixins" as *;
@use "./primary-nav-css-custom-props";

.navbarItemAuthenticated {
  @include reset-button();
  position: relative;
  display: flex;
  width: var(--primary-nav-navbar-item-special-max-width);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // Left border, except the last px is omitted to avoid having a 0.75 opacity
  // pixel where it overlaps the navbar border
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    opacity: 0.5;
    border-left: var(--primary-nav-navbar-item-special-border-left);
  }

  transition: var(--primary-nav-navbar-item-special-background-transition);

  &:hover {
    background: var(--primary-nav-navbar-item-special-background-hover);
  }

  @include breakpoint($breakpoint-lg-min) {
    &.isActive {
      background-color: var(--primary-nav-navbar-item-special-background-active);
    }
  }
}

.label {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  // TODO: Review token https://toyotaau.atlassian.net/browse/LEXNW-414
  background-color: var(--primary-nav-navbar-item-authenticated-label-background);
  color: var(--ld-color-legacy-deepblue-dark);
  font-size: 15px;
  font-weight: var(--ld-font-weights-bold);
}
