.parentIsFlexbox {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .containerInner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

.fillParentHeight {
  flex-grow: 1;
}
