@use "@tmca/lexus-dls/css/component/stack.module";
@use "@tmca/lexus-dls/css/component/box.module";
@use "../../styles/modules/breakpoints/mixins" as *;
@use "../../styles/modules/breakpoints/variables" as *;
@use "../../styles/modules/ornaments/senkei/mixins" as *;
@use "../../styles/modules/css-resets/mixins" as *;

.secondaryNav {
  @extend #{".ldBox"};
  @extend #{".ldStack"};

  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--ld-c-box-pad-static-xs) var(--ld-c-box-pad-static-s);
  background-color: var(--ld-color-legacy-deepblue-dark);
  color: var(--ld-color-legacy-lexus-brand-white);

  @include breakpoint($breakpoint-lg-min) {
    padding: var(--ld-c-box-pad-static-xs) var(--ld-c-box-pad-static-3xl);
    flex-direction: row;
    justify-content: space-between;
    text-wrap: nowrap;
    align-items: center;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  opacity: 0.8;
  background-color: #000000;

  @include breakpoint($breakpoint-lg-min) {
    display: none;
  }
}

.title {
  &Container {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: fit-content;
    gap: 10px;

    @include breakpoint($breakpoint-lg-min) {
      align-items: center;
      justify-content: center;
      margin-right: var(--ld-c-stack-gap-static-4xl);
    }
  }

  &Text {
    min-width: min-content;
    flex-shrink: 0;
  }

  &Icon {
    margin-top: 2px;
    transition: transform 0.3s ease;

    &Button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;

      &:focus-visible {
        outline: 1px dashed var(--ld-s-color-common-white);
        outline-offset: 4px;
      }

      @include breakpoint($breakpoint-lg-min) {
        display: none;
      }
    }

    &Rotated {
      transform: rotate(180deg);
    }

    @include breakpoint($breakpoint-lg-min) {
      display: none;
    }
  }

  &Link {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:focus-visible {
      outline: 1px dashed var(--ld-s-color-common-white);
      outline-offset: 4px;
    }

    @include breakpoint($breakpoint-lg-min) {
      display: unset;
    }
  }
}

.nav {
  display: none;

  @include breakpoint($breakpoint-lg-min) {
    display: unset;
  }

  &Expanded {
    display: unset;
    padding-top: var(--ld-c-stack-gap-static-s);

    @include breakpoint($breakpoint-lg-min) {
      padding-top: 0;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: var(--ld-c-stack-gap-static-s);
  row-gap: var(--ld-c-stack-gap-static-s);

  @include breakpoint($breakpoint-lg-min) {
    flex-direction: row;
    align-items: center;
    row-gap: var(--ld-c-stack-gap-static-xs);
  }
}

.link {
  text-decoration: none;

  @include ornaments-senkei($pseudo-element: "after", $animate-from: "center", $line-size: 2px);

  &::after {
    width: min(24px, 100%);
  }

  &:focus-visible {
    @include ornaments-senkei-apply-expanded("after");
  }

  &Text {
    @include ornaments-senkei($pseudo-element: "after", $animate-from: "center", $line-size: 2px);

    &::after {
      width: min(24px, 100%);
    }

    &Active {
      @include ornaments-senkei-apply-expanded("after");

      &::after {
        width: min(24px, 100%);
      }
    }
  }
}
